.bookingContainer{
    margin-top: 100px;
}
.booking-form{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}